body {
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
}

.back{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1) no-repeat center center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(image/90544024_01.webp);
    background-size: cover;
}
.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(10px); 
}

.fontik {
    font-family: Unbounded;
    font-size: 25px;
    top: 30px;
    left: 170px;
    position: absolute;
    color: rgba(255,255,255,1);
}

.tat {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 300;
    top: 55px;
    left: 500px;
    position: absolute;
    color: rgba(255,255,255,1);
}